.form-group{    margin-bottom: 0px;}.ui-button-text-only{    display:none !important;}.chzn-container-single .chzn-default {    min-height: 34px;    //padding-top: 4px;}.chzn-container-single .chzn-single div {    padding-top: 6px;}